body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

:root {
    --sizeindex: calc(1vw + 1vh);
}

/* loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 3s ease-out, slideUp 0.5s 3s forwards; /* Анимация исчезновения черного экрана и закрытия снизу вверх */
    animation-fill-mode: forwards; /* Сохраняем последний кадр анимации */
    opacity: 1;
}

.logo_loader {
    font-family: 'Black Ops One', cursive;
    font-size: 32px;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.logo_loader>h2 {
    font-size: 72px;
}

.loading {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.loading_text {
    width: 100%;
    height: 100px;
    color: white;
    font-family: 'Black Ops One', cursive;
    font-size: 24px;
}

.loading_animation {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.logo_h3 {
    font-size: 21px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
/* header */

header {
    position: fixed;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;;
    align-items: center;
    border-bottom: 1px solid #7d7c7c;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
}

header .logo_header {
    font-family: 'Black Ops One', cursive;
    width: 120px;
    height: 80px;
    justify-self: center;
}

header .logo_header>h3 {
    margin: 0;
    text-align: center;
}

header .nav_bar {
    width: 600px;
    height: 60px;
    justify-self: center;
    align-items: center;
}

.burger {
    display: none; /* Изначально скрываем бургер-меню */
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.burger .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: grey;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: black;
    transition: all 0.3s ease;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 19.5px 0;
    list-style-type: none;
}

.nav_menu > li {
    padding-right: 22px;
    min-width: 128px;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.link:hover {
    transition: 0.3s;
    color: #7d7c7c;
}

.link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #7d7c7c;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
}

.link:hover:before {
    transform: scaleX(1);
    transition: 0.3s;
}

/* welcome_content */

.welcome_content {
    width: auto;
    height: 768px;
    margin-top: 100px;
    padding: 95px 0 0 70px;
}

.welcome_preview {
    margin-right: 0;
    width: 80%;
    height: 564px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    animation: fadeInUp 0.5s forwards;
    opacity: 0; /* Начальная прозрачность */
    transform: translateY(30px); /* Начальное положение, сдвиг вниз */
}

.span_welcome_logo_font {
    font-family: 'Rubik', sans-serif;
    font-size: 150px;
}

.span2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.span3 {
    font-family: 'Manrope', sans-serif;
    font-size: 21px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 0;
}

.span4 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 160px;
}

.check_weather {
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    width: 20%;
    height: 50px;
    margin-top: 75px;
    animation: slideInUp 0.5s forwards;
}

.check_weather_button {
    font-family: 'Manrope', sans-serif;
    height: 30px;
    width: 70px;
    margin-left: 25px;
    color: black; /* Цвет текста */
    background: white;
    padding: 0 15px; /* Отступы внутри кнопки */
    border: 1px solid #7d7c7c;
    cursor: pointer;
    border-radius: 5px;
}

.check_weather_button:hover {
    background: #D0D0D0;
}

.check_weather_button:active {
    background: #C0C0C0;
}

.bx {
    font-size: 30px;
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* location_and_weather */

.location_and_weather {
    width: 100%;
    height: 568px;
    border-bottom: 1px solid #7d7c7c;
}

.location_and_weather>h4 {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}

.location_and_weather_container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid #7d7c7c;
    border-top: 1px solid #7d7c7c;
}

.weather_info_container {
    width: 100%;
    height: 351px;
}

.weather_info_container>h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 15px;
}

.user_weather {
    width: 100%;
    height: 250px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature {
    color: dimgrey;
}

.description {
    color: dimgrey;
}

.wind_speed {
    color: dimgrey;
}

.date {
    color: dimgrey;
}

.weather-icon {
    width: 70px;
    height: 70px;
}

.weather-info {
    text-align: center;
}

.weather-line {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

/* find_weather */

.find_weather_container {
    width: 100%;
    height: 700px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.find_weather {
    width: 100%;
    height: 60px;
}

.search {
    min-width: 150px;
    height: 60px;
    display: flex;
    justify-content: center; /* Выравниваем содержимое по горизонтали по центру */
    align-items: center;
}

.search_container {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.search button {
    border-radius: 7px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:active {
    background-color: gray;
}

.search input {
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
}

.info_container {
    width: 100%;
    height: 640px;
}

.find_weather_info {
    width: 100%;
    height: 390px;
    padding-top: 20px;
    display: flex; /* Изменяем на display: flex */
    flex-wrap: wrap;
    justify-content: space-around;
}

.info {
    width: 250px;
    min-width: 250px;
    height: 275px;
    margin: 20px;
    text-align: center;
    border: 1px solid #7d7c7c;
    border-radius: 5px;
}

.saved_find_weather {
    width: 100%;
    height: 113px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #7d7c7c;
    border-bottom: 1px solid #7d7c7c;
    overflow-y: auto;
    padding-top: 25px;
}

.saved_city {
    font-size: 24px;
    margin: 0 20px 20px 20px;
    cursor: pointer;
}

.delete_button {
    width: 100px;
    height: 30px;
    margin-left: 20px;
    background: red;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete_button:hover {
    background: #B22222;
}

.search button:active {
    background-color: #8B0000;
}

.saved_cities {
    text-align: center;
    padding-top: 90px; /* Выберите подходящее значение отступа сверху */
    font-size: 18px;
}

/* equipment */

.equipment {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.equipment>h4 {
    margin: 0;
    font-size: 42px;
    font-weight: 600;
    grid-column: 3/4;
}

.photo_equipment {
    width: 60%;
    min-width: 400px;
    height: 250px;
    border: 1px solid #7d7c7c;
    border-radius: 5px;
}

.photo1 {
    grid-column: 2/4;
    grid-row: 2/4;
    margin: 0;
}

.equipment_img {
    width: 100%;
    height: 100%;
}

.photo2 {
    grid-column: 2/4;
    grid-row: 5/7;
    margin: 0;
}

.text_equipment {
    font-size: calc(var(--sizeindex) * .7);
    width: 60%;
    min-width: 400px;
    height: 500px;
    grid-row: 2/7;
    grid-column: 4/6;
    margin: 50px;

    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

/* photo */

.photo {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel-container {
    width: 98%;
    height: 96%;
    position: relative;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
}

.carousel {
    height: 95%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active-slide {
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Добавляем анимацию для активного слайда */
}

.slide img {
    width: 100%;
    height: 730px;
}

.slide-text {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: left;
    padding: 5px;
    color: white;
    font-size: 65px;
    font-weight: 600;
    margin-left: 50px;
}

.carousel-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator-dot {
    width: 10px;
    height: 10px;
    background-color: #888;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator-dot.active {
    background-color: #333;
}

/* contact */

.contact {
    width: 100%;
    height: 555px;
}

.contact>h5 {
    font-size:32px;
    text-align: center;
}

.contact_container {
    width: 90%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.employees {
    width: 300px;
    height: 320px;
    padding: 0;
    text-align: left;
}

.employees>h5 {
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0 15px 0;
}

.employees>p {
    font-size: calc(var(--sizeindex) * .7);;
}

.addresses {
    width: 300px;
    height: 320px;
    text-align: left;
}

.addresses>h5 {
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0 15px 0;
}

.addresses>p {
    font-size: calc(var(--sizeindex) * .7);;
}

/* footer */

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #7d7c7c;
}

.footerElements {
    margin: 17px;
    text-align: center;
    display: flex;
}

.elem {
    color: black;
    margin-left: 5px;
    font-size: 22px;
}

.elem:hover {
    color: gray;
}

@media screen and (max-width: 1476px) {
    .find_weather_container {
        height: 905px;
    }

    .info_container {
        height: 800px
    }

    .find_weather_info {
        height: 660px;
    }

    .equipment>h4 {
        grid-column: 3/5;
    }
}

@media screen and (max-width: 1250px) {

    /* welcome_content */

    .span_welcome_logo_font {
        font-size: 140px;
    }

    .span3 {
        font-size: 19px;
    }

    /* location_and_weather*/

    .location_and_weather_container {
        font-size: 19px;
    }

    .user_weather {
        font-size: 19px;
    }

    .saved_find_weather {
        font-size: 19px;
    }

    /* photo */

    .photo {
        height: 600px;
    }

    .carousel {
        height: 540px;
    }

    .carousel-container {
        height: 575px;
    }

    .slide img {
        height: 540px;
    }
}

@media screen and (max-width: 1476px) {

    .check_weather {
        width: 40%;
    }

    .find_weather_container {
        height: 905px;
    }

    .info_container {
        height: 800px
    }

    .find_weather_info {
        height: 660px;
    }

    .equipment>h4 {
        grid-column: 3/5;
    }
}

@media screen and (max-width: 1250px) {

    /* welcome_content */

    .span_welcome_logo_font {
        font-size: 140px;
    }

    .span3 {
        font-size: 19px;
    }

    .check_weather {
        width: 40%;
    }

    /* location_and_weather*/

    .location_and_weather_container {
        font-size: 19px;
    }

    .user_weather {
        font-size: 19px;
    }

    .saved_find_weather {
        font-size: 19px;
    }

    /* photo */

    .photo {
        height: 600px;
    }

    .carousel {
        height: 540px;
    }

    .carousel-container {
        height: 575px;
    }

    .slide img {
        height: 540px;
    }
}

@media screen and (max-width: 1024px) {

    /* welcome_content */

    .span_welcome_logo_font {
        font-size: 95px;
    }

    .span3 {
        font-size: 16px;
    }

    .check_weather {
        width: 40%;
    }

    /* location_and_weather*/

    .location_and_weather>h4 {
        font-size: 32px;
    }

    .location_and_weather_container {
        font-size: 19px;
    }

    .user_weather {
        font-size: 19px;
    }

    .saved_find_weather {
        font-size: 19px;
    }

    /* photo */

    .photo {
        height: 600px;
    }

    .carousel {
        height: 540px;
    }

    .carousel-container {
        height: 575px;
    }

    .slide img {
        height: 540px;
    }
}

@media screen and (max-width: 993px) {
    /* welcome_content */

    .span_welcome_logo_font {
        font-size: 95px;
    }

    .span3 {
        font-size: 16px;
    }

    .check_weather {
        width: 40%;
    }

    /* location_and_weather*/

    .location_and_weather>h4 {
        font-size: 32px;
    }

    .location_and_weather_container {
        font-size: 19px;
    }

    .user_weather {
        font-size: 19px;
    }

    .saved_find_weather {
        font-size: 19px;
    }

    .info {
        width: 205px;
        min-width: 205px;
        height: 257px;
        font-size: 13px;
    }

    /* photo */

    .photo {
        height: 475px;
    }

    .carousel {
        height: 405px;
    }

    .carousel-container {
        height: 435px;
    }

    .slide img {
        height: 400px;
    }

    /* equipment */

    .text_equipment {
        min-width: 290px;
        margin: 70px 0 0 0;
    }

    .photo_equipment {
        min-width: 300px;
        height: 210px;
    }
}

@media screen and (max-width: 768px) {

    /* burger */

    .burger {
        display: block;
        margin-left: 160px;
    }

    /* Отображаем/скрываем бургер-меню и анимируем его в крестик */
    .burger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .nav_menu.active {
        display: block;
    }

    .menu_container {
        width: 50%;
        height: 500px;
        position: fixed;
        top: 0;
        left: -101%;
        transition: transform 0.5s ease;
        z-index: 101;
        align-items: center;
        border: 1px solid #7d7c7c;
        border-radius: 3px;
        background: white;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 102;
    }

    header .nav_bar {
        width: 31px;
        height: 31px;
    }
    .nav_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 130px;
    }

    .nav_menu>li {
        margin: 10px 0 10px 0;
    }

    /* welcome_content */

    .span_welcome_logo_font {
        font-size: 80px;
    }

    .span3 {
        font-size: 13px;
    }

    .span4 {
        margin-left: 10px;
    }

    .check_weather {
        width: 62%;
    }

    /* location_and_weather*/

    .location_and_weather>h4 {
        font-size: 32px;
    }

    .location_and_weather_container {
        font-size: 15px;
    }

    .user_weather {
        font-size: 15px;
    }

    .saved_find_weather {
        font-size: 19px;
    }

    .info {
        width: 205px;
        min-width: 205px;
        height: 257px;
        font-size: 13px;
    }

    /* find_weather */
    .info {
        width: 130px;
        min-width: 130px;
        font-size: 11px;
        margin: 5px;
    }

    /* photo */

    .photo {
        height: 475px;
    }

    .carousel {
        height: 405px;
    }

    .carousel-container {
        height: 435px;
    }

    .slide img {
        height: 400px;
    }

    /* equipment */

    .equipment {
        height: 1070px;
    }

    .photo1 {
        grid-column: 3/5;
    }

    .photo2 {
        grid-column: 3/5;
        grid-row: 7/8;
    }

    .text_equipment {
        grid-column: 3/5;
        grid-row: 4/7;
    }

    .text_equipment {
        width: 290px;
        margin: 30px 0 0 0;
        font-size: 13px;
    }

    .photo_equipment {
        min-width: 300px;
        height: 210px;
    }

    /* contact */

    .contact {
        height: 660px;
    }

    .contact_container {
        height: 555px;
    }

    .employees {
        height: 250px;
    }

    .addresses {
        height: 250px;
    }
}