body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

/* loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 3s ease-out, slideUp 0.5s 3s forwards; /* Анимация исчезновения черного экрана и закрытия снизу вверх */
    animation-fill-mode: forwards; /* Сохраняем последний кадр анимации */
    opacity: 1;
}

.logo {
    font-family: 'Black Ops One', cursive;
    font-size: 32px;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
/* header */

header {
    position: fixed;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;;
    align-items: center;
    border-bottom: 1px solid #7d7c7c;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
}

header .logo_header {
    font-family: 'Black Ops One', cursive;
    width: 120px;
    height: 80px;
    justify-self: center;
}

header .logo_header>h3 {
    margin: 0;
    text-align: center;
}

header .nav_bar {
    width: 60%;
    min-width: 350px;
    height: 60px;
    justify-self: center;
}

.burger {
    display: none; /* Изначально скрываем бургер-меню */
}

.burger span {
    display: block;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 19.5px 0;
    list-style-type: none;
}

.nav_menu > li {
    padding-right: 22px;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.link:hover {
    transition: 0.3s;
    color: #7d7c7c;
}

.link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #7d7c7c;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
}

.link:hover:before {
    transform: scaleX(1);
    transition: 0.3s;
}

/* welcome_content */

.welcome_content {
    width: auto;
    height: 768px;
    margin-top: 100px;
    padding: 95px 0 0 70px;
}

.welcome_preview {
    margin-right: 0;
    width: 80%;
    height: 564px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    animation: fadeInUp 0.5s forwards;
    opacity: 0; /* Начальная прозрачность */
    transform: translateY(30px); /* Начальное положение, сдвиг вниз */
}

.span_welcome_logo_font {
    font-family: 'Rubik', sans-serif;
    font-size: 150px;
}

.span_welcome_logo_padding {
}

.span2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.span3 {
    font-family: 'Manrope', sans-serif;
    font-size: 21px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 0;
}

.span4 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 160px;
}

.check_weather {
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    width: 20%;
    height: 50px;
    margin-top: 50px;
    animation: slideInUp 0.5s forwards;
}

.check_weather_button {
    font-family: 'Manrope', sans-serif;
    height: 30px;
    width: 70px;
    margin-left: 25px;
    color: black; /* Цвет текста */
    background: white;
    padding: 0 15px; /* Отступы внутри кнопки */
    border: 1px solid #7d7c7c;
    cursor: pointer;
    border-radius: 5px;
}

.bx {
    font-size: 30px;
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* location_and_weather */

.location_and_weather {
    width: 100%;
    height: 568px;
    border-bottom: 1px solid #7d7c7c;
}

.location_and_weather>h4 {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}

.location_and_weather_container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid #7d7c7c;
    border-top: 1px solid #7d7c7c;
}

.weather_info_container {
    width: 100%;
    height: 351px;
}

.weather_info_container>h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 15px;
}

.user_weather {
    width: 100%;
    height: 250px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature {
    color: dimgrey;
}

.description {
    color: dimgrey;
}

.wind_speed {
    color: dimgrey;
}

.date {
    color: dimgrey;
}

.weather-icon {
    width: 70px;
    height: 70px;
}

.weather-info {
    text-align: center;
}

.weather-line {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

/* find_weather */

.find_weather_container {
    width: 100%;
    height: 700px;
    background: #cccccc;
}

.find_weather {
    width: 100%;
    height: 500px;
}

.search {
    min-width: 150px;
    height: 60px;
    display: flex;
    justify-content: center; /* Выравниваем содержимое по горизонтали по центру */
    align-items: center;
}

.search_container {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.search button {
    border-radius: 7px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:active {
    background-color: gray;
}

.search input {
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
}

.find_weather_info {
    width: 100%;
    height: 400px;
    padding-top: 20px;
    background: chartreuse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info {
    width: 250px;
    min-width: 250px;
    height: 250px;
    background: #cccccc;
    margin: 20px;
}

.saved_find_weather {
    width: 100%;
    height: 200px;
    background: aqua;
}

